@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --black: #181818;
	--gray: #181818a0;
  --white: #fffefad5;
	--orange: #cc5c00;
	--orange2: #c16a22;
	--yellow: #d6c72d;
	--bg: #ecebe6;
}

* {
    box-sizing: border-box;
		/* border: 1px solid var(--yellow); */
}

.navbar a {
	color: var(--orange2);
}

body {
    padding: 0;
    margin: 0;
		background-color: var(--bg) !important;
		font-family: 'Roboto Mono', monospace, sans-serif;
}

.notion-text, p {
	letter-spacing: -0.33px;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.divider{
	height: 10px;
	width: 100%;
	background-color: var(--orange2);
}

/* remove icons */
.notion-page-icon-inline.notion-page-icon-image {
	display: none;
}

.lecture-summary a {
	width: 100%;
	font-size: large;
	font-weight: 500;
	color: var(--orange);
	display: flex;
	justify-self: end;
	justify-items: end;
	margin-bottom: 4px;
}

.lecture-summary a:last-of-type {
	margin-top: 6px;
	width: 100%;
	font-size: small;
	font-weight: 400;
	color: var(--gray);
	display: flex;
	justify-self: end;
	justify-items: end;
	margin-bottom: 4px;
}

.lecture-summary td:nth-child(2) {
	padding-bottom: 32px;
}

.lecture-summary code {
	display: block;
	font-size: normal;
	padding-top: 12px;
	letter-spacing: -0.33px;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.lecture-summary td:first-child {
	align-content: flex-start;
	font-size: normal;
	width: 120px !important;
	padding-right: 24px;
	letter-spacing: -0.33px;
	line-height: 1.4;
	margin-bottom: 1rem;
}

.lecture-summary table ~ * {
	display: none !important;
}

.lecture-summary table {
	width: 100%;
	margin: auto;
}

.home-about {
	font-size: small;
}