@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
		/* border: 1px solid orange; */
}

body {
    padding: 0;
    margin: 0;
		background-color: #ecebe6 !important;
		font-family: 'Roboto Mono', monospace, sans-serif;
}


/* FOR HOMEPAGE */
header.notion-header {
	display: none;
	/* : hidden; */
	/* height: 0; */
}
/* 
.notion-page-cover-wrapper img {
	position: absolute;
	height: 100vh;
} */

.banner {
	height: 90vh;
	display: flex;
	flex-direction: column;
}

.hero-text {
	width: 80%;
	margin: 80px auto;
	padding-left: 40px;
	padding-right: 240px;
	display: flex;
	flex-direction: column;
	/* height: 100vh; */
	/* border: 2px solid yellow; */
}

.hero-text h1 {
	z-index: 100;
	color: rgb(240, 248, 255);
	font-size: 120px;
}

.notion-text {
	  line-height: 1.6;
		margin-bottom: 1rem;
}

.banner .notion-text{
	position: relative;
	z-index: 100;
	color: aliceblue;
	font-size: xx-large;
}

.notion-title {
	color: #181818;
}

h1, h2, h3, h4, p {
	font-family: 'Roboto Mono', monospace;
	color: rgb(240, 248, 255);
	/* border: 1px solid palegreen; */
}

.divider{
	height: 8px;
	width: 100%;
	background-color: #cc5c00;
}

.about {
	width: 80%;
	margin: auto;
}